<!-- templates/subcategories.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subcategories</title>
</head>
<body>
    <h1>Subcategories of {{ category.text }}</h1>
    <ul>
        {% for subcategory in subcategories %}
            <li>
                <a href="{% url 'details' category.id subcategory.id %}">{{ subcategory.text }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>